@import '../constants';

.subreddit {
  @include header-style;
  margin-top: 0;
}

.username {
  @include default-font-style;
  font-size: 1.5em;
  margin-bottom: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  width: 30px;
  height: 30px;
  fill: $pretty-purple;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .swipe {
    align-items: flex-end;
    justify-content: flex-end;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 25px;

    .title {
      @include subheader-style;
    }

    .author {
      @include default-font-style;
    }

    &:hover {
      box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
      transform: scale(1.02);
      transition: all 0.2s ease;
    }
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .image {
    width: 250px;
  }
}
