@import '../constants';

.loginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .welcomeHeader {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 6em;
    text-align: center;
    background: -webkit-linear-gradient(left, #9B10FF, #FF4179);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;

    @include mobile {
      font-size: 3.5em;
    }
  }

  .subtitle {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    background: -webkit-linear-gradient(left, #9B10FF, #FF4179);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 275px;

  .inputContainer {
    height: 350px;
  }

  .title {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    margin: 20px;
    background: -webkit-linear-gradient(left, #9B10FF, #FF4179);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    outline: 0;
    border: solid;
    border-color: #5C188C;
    border-radius: 5px;
    border-width: 2px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    font-family: 'Raleway';
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
    background-color: white;
    color: #5C188C;

    &:hover {
      background-color: #5C188C;
      color: white;
      transition: all 0.5s ease;
      cursor: pointer;
    }

    &:active {
      transform: translateY(3px);
    }
  }
}
