@import '../constants';

.loginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .welcomeHeader {
    @include header-style;
    margin: 0;

    @include mobile {
      font-size: 3.5em;
      padding-top: 25px;
    }
  }
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 275px;

  .inputContainer {
    height: 300px;
  }

  .title {
    @include subheader-style;
  }

  .button {
    appearance: none;
    outline: 0;
    border: solid;
    border-color: $pretty-purple;
    border-radius: 5px;
    border-width: 2px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    font-family: 'Raleway';
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background-color: white;
    color: $pretty-purple;

    &:hover {
      background-color: $pretty-purple;
      color: white;
      transition: all 0.5s ease;
      cursor: pointer;
    }

    &:active {
      transform: translateY(3px);
      background-color: darken($pretty-purple, 5);
    }
  }
}
